.container {
    margin-top: 20px;
}

.table-container {
    overflow-x: auto; /* Allow horizontal scrolling */
}

.prayer-requests-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-header {
    background-color: #c0392b;
    color: #fff;
}

.table-header-cell {
    padding: 12px;
    text-align: left;
}

.table-row {
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.table-cell {
    padding: 12px;
    border: 1px solid #ddd;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for even rows */
}

.table-row:hover {
    background-color: #e9ecef; /* Light gray on hover */
}

.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.alert {
    margin-top: 20px;
}

.btn-custom {
    background-color: #c0392b;
    color: white;
    padding: 10px 20px; /* Optional padding */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Optional rounded corners */
}

.btn-custom:hover {
    background-color: #a93226; /* Optional hover effect */
    text-decoration: none; /* Remove underline */
    color: white;
}

/* Media Query for Responsive Adjustments */
@media (max-width: 768px) {
    .table-header-cell,
    .table-cell {
        padding: 0px; /* Reduced padding */
        font-size: 10px; /* Smaller font size */
    }
}
