.pr-container {
    padding: 20px;
    margin-top: 4rem;
}

.table-container {
    overflow-x: auto; /* Allow horizontal scrolling */
}

.prayer-requests-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-header {
    background-color: #c0392b;
    color: #fff;
}

.table-header-cell {
    padding: 12px;
    text-align: left;
}

.table-row {
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.table-cell {
    padding: 12px;
    border: 1px solid #ddd;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for even rows */
}

.table-row:hover {
    background-color: #e9ecef; /* Light gray on hover */
}

.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.alert {
    margin-top: 20px;
}

.btn-custom {
    background-color: #c0392b;
    color: white;
    padding: 10px 20px; /* Optional padding */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Optional rounded corners */
}

.btn-custom:hover {
    background-color: #a93226; /* Optional hover effect */
    text-decoration: none; /* Remove underline */
    color: white;
}

/* Styles for the filter form */
.filter-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust space below the filter */
}

.form-label {
    margin-right: 10px; /* Space between label and select */
    font-weight: bold; /* Optional: make label bold */
}

.filter-select {
    padding: 8px; /* Padding inside the select */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

/* Optional: Change border color on focus */
.filter-select:focus {
    border-color: #007bff; /* Change border color when focused */
    outline: none; /* Remove default outline */
}


/* Media Query for Responsive Adjustments */
@media (max-width: 768px) {
    .table-header-cell,
    .table-cell {
        padding: 0px; /* Reduced padding */
        font-size: 10px; /* Smaller font size */
    }
}
